<?php

/*
 * Database credentials
 */
$dbuser = "";
$dbpass = "";
$database = "twittercapture";
$hostname = "localhost";

/*
 * Mail address in case capture/stream/controller.php detects that capture/stream/capture.php has been idle for too long
 */
$mail_to = "";

/*
 * Twitter API keys
 */

// Main key, used for capturing from streaming API
$twitter_consumer_key = "";
$twitter_consumer_secret = "";
$twitter_user_token = "";
$twitter_user_secret = "";

// List of additional keys to loop over when there is a limited amount of requests per key, e.g. search
$twitter_keys = array(
    array("twitter_consumer_key" => "",
        "twitter_consumer_secret" => "",
        "twitter_user_token" => "",
        "twitter_user_secret" => "",
    )
);

/*
 * Klout account info
 */
$kloutapi_key = "";

/*
 * file root in which dmi-tcat resides
 */
define('BASE_FILE', '/var/www/dmi-tcat/');

/*
 * URL root in which dmi-tcats resides
 */
define('BASE_URL', 'http://example.com/dmi-tcat/');

/*
 * URL root in which analysis resides
 */
define('ANALYSIS_URL', BASE_URL . 'analysis/');

/*
 * Time zone
 */
date_default_timezone_set("Europe/London");

/*
 * Error reporting verbosity
 */
error_reporting(E_ALL);

/*
 * How long the script is allowed to run
 */
ini_set("max_execution_time", "50000");

/*
 * How much memory the script is allowed to take
 */
ini_set("memory_limit", "30G");

/*
 * Set encoding
 */
mb_internal_encoding("UTF-8");
?>
