<?php

/*
 * Database credentials
 */
$dbuser =	""; 
$dbpass =	"";
$database =	""; 
$hostname =	"";					

/*
 * Twitter account info
 */
$twitter_user = '';
$twitter_pass = '';

/*
 * Twitter API keys
 */
$twitter_consumer_key = "";
$twitter_consumer_secret = "";
$twitter_user_token = "";
$twitter_user_secret = "";

/*
 * Klout account info
 */
$kloutapi_key = "";

/*
 * file root in which dmi-tcat resides
 */
define('BASE_FILE', '/var/www/dmi-tcat/');

/*
 * URL root in which dmi-tcats resides
 */
define('BASE_URL', 'http://example.com/dmi-tcat/');

/*
 * URL root in which analysis resides
 */
define('ANALYSIS_URL', BASE_URL.'analysis/');

/*
 * Time zone
 */
date_default_timezone_set("Europe/London");

/*
 * Error reporting verbosity
 */
error_reporting(E_ALL);

/*
 * How long the script is allowed to run
 */
ini_set("max_execution_time", "50000");

/*
 * How much memory the script is allowed to take
 */
ini_set("memory_limit", "30G");

/*
 * Set encoding
 */
mb_internal_encoding("UTF-8"); 

/*
 * Location of the coword machine
 */
define('COWORD_URL', 'http://example.com/coword/');

?>
