<?php

// Non-space separated languages, such as CJK and Arabic, are currently unsupported.
// https://dev.twitter.com/docs/streaming-apis/parameters#track
$querybins = array(
    "globalwarming" => "global warming,globalwarming,climate,climatechange,drought,flood",
);

$queryarchives = array(
    "oscars" => "oscars,oscar,academy award,#bestdressed,theacademy,oscarroadtrip,#oscaring,#oscarnoms,#oscarfever,'red carpet',redcarpet",
);

// here you can set databins which exist but which you don't want to be displayed in the dataset dropdown of analysis/index.php
$excludeFromView = array();
?>

