/* tags */

body,html { font-family:Arial, Helvetica, sans-serif; font-size:11px; }

h1 { font-size:16px; margin:20px 0px 0px 0px; }
h2 { font-size:14px; margin:20px 0px 15px 0px; padding:3px; background-color:#ddd; }
h3 { font-size:13px; margin:10px 0px 8px 0px; }

a { font-size:12px; }

fieldset { font-size:14px; margin-top:20px; width:100%; }

table { border-collapse:collapse; border:0px; }
td { font-size:12px; padding:5px; }
td.tbl_head { font-weight:bold; }

hr { border:0; color:#aaa; background-color:#aaa; height:1px; width:100%; margin:10px 0 10px 0; clear:both; }

/* ids */

#if_fullpage { width:1000px; }
#if_title { float:left; }
#if_links { float:right; padding-top:22px; margin-right:-20px; }


/* classes */

.if_toplinks { display: inline-block; margin-left: 1em; font-size:12px; text-decoration:none; color: #000; }
.if_toplinks:before { content: "» "; }
.if_toplinks:hover { text-decoration:underline; }

.if_panel_box { float:left; margin:10px 0px 10px 0px; }

.txt_desc { font-size:12px; margin-bottom:5px }
.txt_link { font-size:12px; margin-left:10px; }

.if_export_block { padding-left:15px; }

.svglink {
    float: right;
    font-size: 12px;
}
.generate_svglink {
    float: left;
    text-decoration:underline;
    cursor: pointer;
}
.download_svglink {
    float: left;    
    margin-left: 5px;
}
