name: Docker Image CI

on: [push, pull_request]

jobs:

  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Decrypt config file
      run: ./docker/decryptsecret.sh
      env:
        CONFIG_PASSPHRASE: ${{ secrets.CONFIG_PASSPHRASE }}
        
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
